

.h-6d5em{height: 6.5rem !important;}


.bg-f5f5f5{background: #f5f5f5;}
.bg-color-f7{background: #f7f7f7;}

.fwei-600{font-weight: 600;}

.bt-1-ffffff{border-top: 1px solid #ffffff;}
.bb-1-dfdfdf{border-bottom: 1px solid #dfdfdf;}

.color-96{color: #969696;}

.mt-20em{margin-top: 1rem;}
.mb-20em{margin-bottom: 1rem;}
.w-52em{width: 2.6rem;}

.b-1-e6{border: 1px solid #e6e6e6;}

.b-ra-4em{border-radius: 0.2rem;}

/*党务超市所有模块图标*/
.bg-png1{background: url('../../../../statics/images/images_bd/bd_appstore1.png') no-repeat center;background-size: contain;}
.bg-png2{background: url('../../../../statics/images/images_bd/bd_appstore2.png') no-repeat center;background-size: contain;}
.bg-png3{background: url('../../../../statics/images/images_bd/bd_appstore3.png') no-repeat center;background-size: contain;}
.bg-png4{background: url('../../../../statics/images/images_bd/bd_appstore4.png') no-repeat center;background-size: contain;}
.bg-png5{background: url('../../../../statics/images/images_bd/bd_appstore5.png') no-repeat center;background-size: contain;}
.bg-png6{background: url('../../../../statics/images/images_bd/bd_appstore6.png') no-repeat center;background-size: contain;}
.bg-png7{background: url('../../../../statics/images/images_bd/bd_appstore7.png') no-repeat center;background-size: contain;}
.bg-png8{background: url('../../../../statics/images/images_bd/bd_appstore8.png') no-repeat center;background-size: contain;}
.bg-png9{background: url('../../../../statics/images/images_bd/bd_appstore9.png') no-repeat center;background-size: contain;}
.bg-png10{background: url('../../../../statics/images/images_bd/bd_appstore10.png') no-repeat center;background-size: contain;}
.bg-png11{background: url('../../../../statics/images/images_bd/bd_appstore11.png') no-repeat center;background-size: contain;}
.bg-png12{background: url('../../../../statics/images/images_bd/bd_appstore12.png') no-repeat center;background-size: contain;}
.bg-png13{background: url('../../../../statics/images/images_bd/bd_appstore13.png') no-repeat center;background-size: contain;}
.bg-png14{background: url('../../../../statics/images/images_bd/bd_appstore14.png') no-repeat center;background-size: contain;}
.bg-png15{background: url('../../../../statics/images/images_bd/bd_appstore15.png') no-repeat center;background-size: contain;}
.bg-png16{background: url('../../../../statics/images/images_bd/bd_appstore16.png') no-repeat center;background-size: contain;}
.bg-png17{background: url('../../../../statics/images/images_bd/bd_appstore17.png') no-repeat center;background-size: contain;}
.bg-png18{background: url('../../../../statics/images/images_bd/bd_appstore18.png') no-repeat center;background-size: contain;}
.bg-png19{background: url('../../../../statics/images/images_bd/bd_appstore19.png') no-repeat center;background-size: contain;}
.bg-png20{background: url('../../../../statics/images/images_bd/bd_appstore20.png') no-repeat center;background-size: contain;}
.bg-png21{background: url('../../../../statics/images/images_bd/bd_appstore21.png') no-repeat center;background-size: contain;}
.bg-png22{background: url('../../../../statics/images/images_bd/bd_appstore22.png') no-repeat center;background-size: contain;}
.bg-png23{background: url('../../../../statics/images/images_bd/bd_appstore23.png') no-repeat center;background-size: contain;}
.bg-png24{background: url('../../../../statics/images/images_bd/bd_appstore24.png') no-repeat center;background-size: contain;}
.bg-png25{background: url('../../../../statics/images/images_bd/bd_appstore25.png') no-repeat center;background-size: contain;}
.bg-png26{background: url('../../../../statics/images/images_bd/bd_appstore26.png') no-repeat center;background-size: contain;}
.bg-png27{background: url('../../../../statics/images/images_bd/bd_appstore27.png') no-repeat center;background-size: contain;}
.bg-png28{background: url('../../../../statics/images/images_bd/bd_appstore28.png') no-repeat center;background-size: contain;}
.bg-png29{background: url('../../../../statics/images/images_bd/bd_appstore29.png') no-repeat center;background-size: contain;}
.bg-png30{background: url('../../../../statics/images/images_bd/bd_appstore30.png') no-repeat center;background-size: contain;}
.bg-png31{background: url('../../../../statics/images/images_bd/bd_appstore31.png') no-repeat center;background-size: contain;}
.bg-png32{background: url('../../../../statics/images/images_bd/bd_appstore32.png') no-repeat center;background-size: contain;}
/*结束*/

.index_con{
	width:94%;
	margin-left:3%;
	background-color: #ffffff;
	box-shadow: 0rem 0rem 0.4rem 0rem 
		rgba(0, 0, 0, 0.08);
	border-radius: 0.25rem;
}

.color-21{color: #212121;}
.mb-23em{margin-bottom:1.15rem;}
.box-sha{box-shadow: 0rem 0.05rem 0.2rem 0rem rgba(235, 66, 81, 0.5);}

















