body {

}

.pl-8em{
	padding-left: 0.4rem;
} 
.pr-8em{
	padding-right: 0.4rem;
}
.pt-8em{
	padding-top: 0.4rem;
}
.h-175em{
	height:8.75rem
}
.bb-df{
	border-bottom:1px solid #dfdfdf;
}
.h-48em{
	height:2.4rem;
}
.color-75{
	color:#757575; 
}
.lh-48em{
	line-height:2.4rem;
}
	