.w-118em{width: 5.9rem !important;}
.w-310em{width: 15.5rem;}
.w-33b{width: 33.33%;}

.h-34em{height: 1.7rem;}
.h-44{height: 2.2rem;}
.h-89em{height: 4.45rem;}
.h-150em{height: 7.5rem;}

.lh-15em{line-height: 0.75rem !important;}

.p-0{padding: 0 !important;}

.m-0-5b{margin: 0 5% 1rem;}

.color-fe9776{color: #fe9776 !important;}
.color-ff3032{color: #ff3032;}

.b-0{border: 0 !important;}

.bor-1-ff3032{border: 1px solid #ff3032;}
.br-1-df{border-right: 1px solid #dfdfdf;}

.bottom-0{bottom: 0;}

.bg-shade{
	background: -webkit-linear-gradient(left, #ff5a2d, #ff3032, #ff5a2d); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ff5a2d, #ff3032, #ff5a2d); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ff5a2d, #ff3032, #ff5a2d); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ff5a2d, #ff3032, #ff5a2d); /* 标准的语法 */
}

