.fsize-17{font-size: 0.85rem !important;}
.f-11em{font-size: 0.55rem !important;}
.fsize-60em{font-size: 3rem;}

.fwei-600{font-weight: 600 !important;}

.lh-15em{line-height: 0.75rem !important;}
.lh-16em{line-height: 0.8rem;}
.lh-24em{line-height: 1.2rem;}
.lh-44em{line-height: 2.2rem;}
.lh-47em{line-height: 2.35rem;}

.w-7em{width: 0.35rem;}
.w-44em{width: 2.2rem;}
.w-110em{width: 5.5rem !important;}

.h-16em{height: 0.8rem;}
.h-17em{height: 0.85rem;}
.h-34em{height: 1.7rem;}
.h-150em{height: 7.5rem;}
.h-100b{height: 100% !important;}

.p-0{padding: 0 !important;}

.m-0-5b{margin: 0 5%;}

.mr-12em{margin-right: 0.6rem;}

.mb-14em{margin-bottom: 0.7rem;}

.mt-4em{margin-top: 0.2rem;}
.mt-16em{margin-top: 0.8rem !important;}

.color-b3{color: #b3b3b3;}
.color-333{color: #333 !important;}
.color-fff{color: #fff !important;}
.color-fe9776{color: #fe9776 !important;}
.color-999{color: #999 !important;}


.b-0{border: 0 !important;}
.bor-ra-7em{border-radius: 0.4rem;}

.aui-list .aui-list-item{border: 0 !important;background-size: 100% 0 !important;}
.bb-1-dfdfdf{border-bottom: 1px solid #dfdfdf !important;}
.pb-15em{padding-bottom: 0.75rem !important;}

.bg-ff4844{background: #ff4844}
.bg-fff{background: #fff;}
.bg-shade{
	background: -webkit-linear-gradient(left, #ff5a2d, #ff3032, #ff5a2d); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ff5a2d, #ff3032, #ff5a2d); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ff5a2d, #ff3032, #ff5a2d); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ff5a2d, #ff3032, #ff5a2d); /* 标准的语法 */
	color: #fff;
	font-size: 0.65rem;
	line-height: 1.7rem;
	height: 1.7rem;
}

.text-justify{text-align: justify !important;}