

.wh-24em{width: 1.2rem;height: 1.2rem;}

.w-2px{width: 2px;}
.w-7em{width: 0.35rem;}
.w-228em{width: 11.4rem;}

.h-14em{height: 0.7rem;}
.h-17em{height: 0.85rem;}
.h-47em{height: 2.35rem;}

.mt-4em{margin-top: 0.2rem;}

.mb-14em{margin-bottom: 0.7rem;}

.ml-1mpx{margin-left: -1px;}

.lh-14em{line-height: 0.7rem;}

.color-a4{color: #a4a4a4;}
.color-ff9776{color: #ff9776;}

.bg-color-ffb767{background: #ffb767;}

.br-1-df{border-right: 1px solid #dfdfdf !important;}
.bb-1-df{border-bottom: 1px solid #dfdfdf;}

.left-14mem{left: -0.7rem;}
.left-72em{left: 3.6rem;}

.shade{/*字体渐变*/
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(252, 152, 118, 1)), to(rgba(254, 192, 115, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.letter-spacing{letter-spacing:2px;}