.wh-24em{width: 1.2rem !important;height: 1.2rem !important;}

.w-2px{width: 2px !important;}
.w-7em{width: 0.35rem !important;}
.w-228em{width: 11.4rem !important;}

.h-14em{height: 0.7rem !important;}
.h-17em{height: 0.85rem !important;}
.h-34em{height: 1.7rem !important;}
.h-47em{height: 2.35rem !important;}

.pl-20em{padding-left: 1.0rem !important;}

.mt-4em{margin-top: 0.2rem !important;}

.mb-14em{margin-bottom: 0.7rem !important;}

.ml-1mpx{margin-left: -1px !important;}

.f-14em{font-size: 0.7rem !important;}

.text-align{text-align: center !important;}

.lh-14em{line-height: 0.7rem !important;}
.lh-34em{line-height: 1.7rem !important;}

.color-a4{color: #a4a4a4 !important;}
.color-b3{color: #b3b3b3 !important;}
.color-ff9776{color: #ff9776 !important;}

.bg-color-f9{background: #f9f9f9 !important;}
.bg-color-ffb767{background: #ffb767 !important;}
.bg-color-whiter{background: #ffffff !important;}

.br-1-df{border-right: 1px solid #dfdfdf !important;}
.bb-1-df{border-bottom: 1px solid #dfdfdf !important;}

.bor-ra-34{border-radius: 1.7rem !important;}

.left-14mem{left: -0.7rem !important;}
.left-72em{left: 3.6rem !important;}

.shade{/*字体渐变*/
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(252, 152, 118, 1)), to(rgba(254, 192, 115, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.letter-spacing{letter-spacing:2px;}