.pl-8em{
	padding-left: 0.4rem;
} 
.pr-8em{
	padding-right: 0.4rem;
}
.pt-8em{
	padding-top: 0.4rem;
}
.h-175em{
	height:8.75rem
}
.bb-df{
	border-bottom:1px solid #dfdfdf;
}
.h-48em{
	height:2.4rem;
}
.color-75{
	color:#757575; 
}
.lh-48em{
	line-height:2.4rem;
}
.w-103em{
	width:5.15rem;
} 
.h-144em{
	height:7.2rem;
}
.color-75{
	color:#757575;
}
.color-ff4530{
	color:#ff4530;
}
.h-19em{
	height:0.95rem;
}
.f-11em{
	font-size: 0.55rem;
}
.border-ff3032{
	border:1px solid #ff3032;
}
.color-ff3032{
	color:#ff3032;
}
.lh-19em{
	line-height: 0.95rem;
}
.lh-48em{
	line-height: 2.4rem;
}
.bb-df{
	border-bottom:1px solid #dfdfdf;
}
.f-13em{
	font-size: 0.65rem;
}
