body {

}

.wh-6em{width: 0.3rem;height: 0.3rem;}
.pl-8em{padding-left: 0.4rem;}
.pr-8em{padding-right: 0.4rem;}
.m-4em{margin: 0.2rem;}
.mt-8em{margin-top: 0.4rem;}
.color-75{color: #757575;}
.color-df{color: #dfdfdf;}
.bg-color-ff3032{background: #ff3032;}


#tabBox2{
	background: #fff;
	overflow: hidden;
}
#tabBox2 li{
	width: 50%;
	float: left;
	border-right: 1px solid #eeeeee;
	text-align: center;
	position: relative;
}
#tabBox2 li a{
	display: block;
	margin: 0 auto;
	color: #757575;
}
#tabBox2 li .active{
	display: none;
	width: 2rem;
	height: 1px;
	position: absolute;
	bottom: -0.25rem;
	left: 50%;
	background: #ff3032;
	margin-left: -1rem;
}
#tabBox2 .tabBox2-active a{
	color: #ff3032;
}
#tabBox2 .tabBox2-active .active{
	display: block;
}