.aui-tab-nav {background-color: #ebeced!important}
.aui-tab-nav li a{color: #666;}
.aui-tab-info .aui-tab-nav li.active a{color: #3498db;}
.aui-list-view{display: none}
.pl-37{padding-left:37px}
.border-b-none:after{border-bottom:none;}
.aui-user-view-cell {
    padding: 8px 0 0 15px;
}
.fcolor-99 { color:#999!important}
.w-30b{width:30%!important}
.w-60b{width:60%!important}
.pb-8{padding-bottom:8px}
.aui-user-view-cell:last-child:after {
    border-bottom: none
}
.aui-searchbar-wrap {background-color: #F5F5F5!important}
.lh-12{line-height:12px}