.lh-12{line-height:12px;}
.p6-12{padding:6px 12px!important}
.border70{border:1px solid #707070}
.color0{color:#000!important}
.fb{font-weight: bold}
.f16{font-size:16px!important}
.p6-0{padding:6px 0!important}
.padding-btn{padding:5px 60px!important}
.p10-15{padding: 10px 0 15px 0;}
.fcolor-a9 { color:#a9a9a9!important}
.pt-2 {padding-top: 2px;}
.pb-2 {padding-bottom: 2px;}
