body {

}

.w-52em{width: 2.6rem;}

.h-52em{height: 2.6rem;}

.pt-6em{padding-top: 0.3rem;}

.bg-color-ff562d{background: #ff562d;}
.bg-color-fda906{background: #fda906;}
.bg-color-2da4ff{background: #2da4ff;}
.bg-color-757575{background: #757575;}



.box-4-df{box-shadow: 0 0 4px 0 #dfdfdf;}