.default{color:black!important;}
.aui-user-view-cell:after,.aui-user-view-cell:last-child:after{border-bottom:0px;}
.pb-11{padding-bottom:11px;}
.aui-user-view-cell{padding-right:0px;padding-bottom:0px;}
.w-75b{width:75%!important;}