
.color-88{
	color:#888888;
}
.border-b-df{
	border-bottom:1px solid #dfdfdf;
}
.img{
	width:100%;
	height: 8.05rem;
}
.color-black{
	color:black 
}
.lh-24{
	line-height: 1.2rem ;
}
.ti-28{
	text-indent:1.4rem;
}
