body {

}
/*第一层*/
.first>div{
	overflow: hidden;
	padding-left: 0.5rem;
	border-left: 3px solid #fff;
}
.first>div>p{
	width: 14rem;
	color: #333333;
	font-size: 0.9rem;
	line-height: 2.2rem;
	font-weight: 900;
	float: left;
}
.first>div>i{
	line-height: 2rem;
	font-size: 0.7rem;
	color: #999999;
	float: left;
	padding-right: 0.25rem;
}
/*.first>ul{display: none;}*/

/*选中第一层*/
.select_first>div{
	border-left: 3px solid #ff3032;
}


/*第二层*/
.second>div{
	margin-left: 1.5rem;
	overflow: hidden;
}
.second>div>p{
	width: 12rem;
	line-height: 2rem;
	font-size: 0.9rem;
	color: #757575;
	font-weight: 900;
	border-bottom: 1px solid #dfdfdf;
	float: left;
}
.second>div>i{
	line-height: 2rem;
	font-size: 0.7rem;
	color: #b3b3b3;
	float: left;
	padding-right: 0.5rem;
}
/*.second>ul{display: none;}*/

/*选中第二层*/
.select_second>div>p{
	border-bottom: 1px solid #ff3032;
}


/*第三层*/
.third>div{
	margin-left: 3.5rem;
	padding-left: 0.4rem;
	overflow: hidden;
}
.third>div>p{
	width: 10rem;
	line-height: 2rem;
	font-size: 0.8rem;
	color: #757575;
	float: left;
}
.third>div>i{
	line-height: 2rem;
	font-size: 0.6rem;
	color: #757575;
	float: left;
	padding-right: 1.35rem;
}
/*.third>ul{display: none;}*/

/*选中第三层*/
.select_third{
	
}


/*第四层*/
.fourth>div{
	margin-left: 5rem;
	padding-left: 0.6rem;
	overflow: hidden;
}
.fourth>div>p{
	width: 9.5rem;
	line-height: 1.75rem;
	font-size: 0.75rem;
	color: #b3b3b3;
}
	
/*选中第四层*/
.selected_fourth{
	background: rgba(255,48,50,.1);
}
.selected_fourth>div>p{
	color: #ff3032 !important;
}